*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #e5f4e3;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
}


/* ================================== *\
           
            H E A D E R

\* ================================== */

.header{
position: flex;
width: 100%;
background-color: #84596b;
}

.header__content{
padding: 16px 0;
max-width: 1170px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
padding-left: 15px;
padding-right: 15px;
}

.header__logo{
    box-sizing: content-box;
    color: #DDBDD5;
    cursor: pointer;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    transition: color 350ms;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu__link{
    color: #FEA82F;
    cursor: pointer;
    font-family: 'Fustat';
    font-style: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: color 350ms;
}

    .menu__link:hover{
        color: #E5F4E3;
        font-weight: 700;
        font-size: 19px;
    }
    

@media screen and (max-width: 1024px) {

menu{
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 300ms, opacity 300ms;
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    opacity: 0;
}

.menu__link{
    font-size: 16px;
}

.header__content{
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo{
    box-sizing: content-box;
    color: #DDBDD5;
    cursor: pointer;
     font-family: 'Arvo';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    transition: color 350ms;
}

.header__navigation{
    order: 1;
    padding-right: 16px;
}
}


/* ================================== *\
       
  S E C T I O N   G E N E R A L

\* ================================== */

.section{
padding: 70px 0px;
}

.section__background--color01{
background-color: #1C1C1C;
}

.section__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    
}



/* ================================== *\
       
  S E C T I O N   S O B R E   M Í 

\* ================================== */

.section__sobre-mi{
    padding-top: 10%;
}

.sobre-mi__box{
    display: flex;s
}

.sobre-mi__text{
    padding-right: 60px;
}



.sobre-mi__tittle{
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: normal;
    margin-right: 0px;
    margin: 16px;
    color: #1C1C1C;
}

.sobre-mi__text, .sobre-mi__img{
    width: 100%;
    
}

.sobre-mi__img{
   width: 600px;
   margin-right: 16px;
}

.sobre-mi__pg{
    font-family: 'Fustat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 0px;
    color: #1c1c1c;
}

.sobre-mi__button--01{
    display: flex;
    justify-content: left;
}

.sobre-mi__button--01_color--01{
    border: #84596B 2px solid;
    padding: 10px 75px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #84596B;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    margin: 16px;
}

    .sobre-mi__button--01_color--01:hover{
        border: #DDBDD5;
        background-color: #FF2E00;
        color: #E5F4E3;
        font-weight: 600;
    }